.card {
  transition: transform 100ms;
  width: 350px;
  margin: 20px;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.card:hover {
  transform: scale(1.05);
}

.card__content {
  padding: 10px;
}

.card__content h1 {
  margin-bottom: 1rem;
  font-size: 1.5em;
}
