.navbar {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-menu {
  width: 350px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 10;
}

.navbar-menu.active {
  left: 0;
  transition: 350ms;
}

.navbar-menu__items {
  width: 100%;
}

.navbar-menu__items__toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.navbar-menu__menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  cursor: pointer;
}

.navbar-text {
  display: block;
  align-items: center;
  height: 80px;
  width: 100%;
  list-style: none;
  cursor: pointer;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
}

.searchBox {
  padding-left: 1rem;
  border-radius: 15px;
}
