* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*body {
  transition: all 0.5s linear;
}*/

:root {
  --color-black-two: #222222;
  --color-black: #000;
  --color-white: #fff;
  --color-pink: #fc4b63;
  --color-gray: #f5f5f5;
  --color-gary-imp: #ededed;
  --color-blue: #1dafec;
  --color-dark-gray: #262e30;
  --color-dark-gray-2: #1f2426;
  --color-starling-red: #f2575d;

  --primary-color: var(--color-dark-gray);
  --secondary-color: var(--color-white);
  --tertiary-color: var(--color-black-two);
  --font-color: var(--color-black);
}
